body {
    margin-top: 30;
    background-color: #0F0A0A;
    color: #f9f9f9;
    font-family: helvetica;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    text-align: center;
}

body > * {
    flex: 1 100%;
}

.slider600 {
    display: none;
}

.slider800 {
    display: none;
}

.slider {
    overflow: hidden;
  
}

.slider figure img {
    width: 20%;
    /* max-height: 400; */
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 15s slidy infinite;
}

/* ===================NAVBAR START=================== */

#line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #f9f9f9;
    border-radius: 3px;

}

.hamburger {
    position: relative;
    left: 30;
    margin-bottom: -5;
    top: -30;
    cursor: pointer;
    width: 50;
}


#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 1;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.field {
    background-color: #333;
    float: left;
    display: none;
    text-align: center;
    text-decoration: none;
    padding: 18px 25px;
    font-size: 20;
    color: #f9f9f9;
    font-weight: bold;
}

.field:hover {
    background-color: #111;
}

.active {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* ===================NAVBAR END=================== */

.logo img {
    height: 120;
}

.logo {
    text-align: left;
    margin-left: 40;
    margin-bottom: 20;
}

.section {
    font-size: 30;
    margin-bottom: 50;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.main_content p {
    width: 90%;
    margin-left: 5%;
}

.content_title {
    font-size: 28;
    margin-bottom: 25;
    margin-top: 10;
    text-align: left;
    margin-left: 5%;
}

footer {
    font-size: 15;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    bottom: 15;
    position: relative;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


@media (max-width: 600px) {
    main {
        margin-bottom: 120;
        margin-top: 50;
    }

    .section {
        font-size: 25;
        margin-bottom: 20;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .logo {
        display: none;
    }

    .logo600 {
        display: block;
        text-align: center;
        ! margin-bottom: 10;
        margin-top: -10;
    }

    .logo600 img {
        height: 90;
    }

    #navbar {
        justify-content: space-around;
        position: initial;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
        font-size: 16;
        padding: 15px 25px;
    }

    .hamburger {
        position: relative;
        left: 25;
        margin-bottom: -5;
        top: -20;
        width: 45;
    }

    .slider600 {
        overflow: hidden;
    }

    .slider600 figure img {
        width: 20%;
        float: left;
    }

    .slider600 figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }

    @keyframes fade2 {
        0% {
            opacity: 0
        }
        33.333% {
            opacity: 1
        }
        66.666% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    .slider {
        display: none;
    }

    .slider800 {
        display: none;
    }

    .slider600 {
        display: block;
    }

    footer {
        font-size: 10;
    }

}

@media (min-width: 600px) and (max-width: 800px) {
    main {
        margin-bottom: 120;
        margin-top: 60;
    }

    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        position: initial;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
    }

    .section {
    margin-bottom: 20;
        width: 90%;
        margin-left: auto;
        margin-roght: auto;
    }

    .logo {
        display: none;
    }

    .logo600 {
        display: block;
        text-align: center;
        margin-bottom: 10;
    }

    .logo600 {
        margin-top: -10;
    }

    .logo600 img {
        height: 110;
    }

    .slider {
        display: none;
    }

    .slider600 {
        display: none;
    }

    .slider800 {
        display: block;
    }

    .slider800 {
        overflow: hidden;
    }

    .slider800 figure img {
        width: 20%;
        float: left;
    }

    .slider800 figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }
}

@media (min-width: 800px) {
    .logo img {
        display: none;
    }

    .logo600 img {
        margin-left: auto;
        margin-right: auto;
        width: 120;
        display: block;
        margin-bottom: 20;
        margin-top: -25;
    }

    main {
        margin-bottom: 120;
        margin-top: 60;
    }
    .hamburger {
        display: none;
    }
    .field {
        display: block;
    }
}
 