
.logo img {
    height: 120;
}

.logo {
    text-align: left;
    margin-left: 40;
    margin-bottom: 15;
}

.section {
    font-size: 30;
    margin-bottom: 40;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.content_title {
    font-size: 27;
    margin-bottom: 35;
    margin-top: 20;
}



@media (min-width: 800px) and (max-width: 1000px) {
    /*.content {
      width: 100%;
        height: 494;
		margin-left: auto;
		margin-right: auto;
		
    }*/

}

@media (min-width: 800px) {
	
	.content {
        width: 1100;
        height: 494;
		!width: 90%;
		!min-width: 800;
    }

    .picture_600 {
        display: none;
    }

    .text {
        margin-left: 400;
        top: -410;
    }
    .picture img {
        !height: 494;
        !width: 380;
        height: 100%;
        text-align: left;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
    }
}






.content {
    display: inline-block;
    background-color: #f9f9f9;
    text-align: left;
    color: #0F0A0A;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    font-size: 18;
    margin-bottom: 35;
    line-height: 1.2;
}

.text {
    display: block;
    width: 60%;
    position: relative;
}



.picture img:hover {
    cursor: pointer;
    transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.social_title {
    font-size: 22;
    margin-bottom: 5;
    margin-left: 40;
}

.sbtn img {
    width: 40;
}

.sbtn1 img {
    width: 40;
}

.sbtn1 {
    margin-left: 40;
    display: inline-block;
    margin-right: 50;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.sbtn {
    margin-left: 40;
    display: block;
    margin-right: 50;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.sbtn1:hover {
    cursor: pointer;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.caption {
    position: relative;
    left: 50;
    top: -30;
    font-size: 18;
    color: #0F0A0A;
    font-weight: bold;

}

.contact_title {
    font-size: 22;
    margin-bottom: 5;
    margin-left: 80;
}

.contact img {
    width: 40;
}

.contact {
    margin-left: 40;
    margin-top: -10;
}

.caption_contact {
    position: relative;
    left: 50;
    top: -30;
    font-size: 18;
    color: #0F0A0A;
    font-weight: bold;
}

footer {
    font-size: 15;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 10;
}

a {
    text-decoration: none;
    color: #f9f9f9;
    font-family: helvetica;
    font-weight: bold;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.slider {
    overflow: hidden;
}

.slider figure img {
    width: 20%;
    max-height: 400;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 16s slidy infinite;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    z-index: 4;
}

.modal-content {
    position: relative;
    background-color: #f9f9f9;
    margin: auto;
    max-width: 50%;
    margin-bottom: 90;
    top: -50;
}

.modal-content p {
    color: black;
    font-size: 18;
    margin-left: 20;
    margin-bottom: -10;
}

.close {
    color: #fbf7f5;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides p {
    margin-bottom: 15;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fbf7f5;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: -45;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: -45;
}

.prev:hover,
.next:hover {
    background-color: rgba(70, 67, 67, 0.158);
}

img.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 600px) {
    footer {
        font-size: 10;
        margin-bottom: -10;
    }

    .picture {
        display: none;
    }

    .picture_600 img {
        cursor: pointer;
        width: 100%;
        margin-bottom: 15;
    }

    .section {
        font-size: 25;
        margin-bottom: 20;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .logo {
        text-align: left;
        margin-left: 15;
        margin-bottom: 15;
    }

    .logo img {
        height: 70;
    }

    #navbar {
        justify-content: space-around;
        position: initial;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
        font-size: 16;
        padding: 15px 25px;
    }

    .modal-content {
        position: relative;
        background-color: #fbf7f5;
        margin: auto;
        max-width: 80%;
        margin-bottom: 90;
        top: -50;
    }

    .content {
        width: 100%;
        margin-bottom: -30;
    }

    .content_title b {
        font-size: 30;
        display: inline;
        text-align: left;
        margin-left: 30;
    }

    .text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        font-size: 14;
    }

    .sbtn img {
        width: 30;
    }

    .sbtn {
        display: block;
        width: 250;
        margin: auto;
        margin-bottom: 15;
        text-align: left;
        font-weight: bold;
    }

    .sbtn1 img {
        width: 30;
    }

    .sbtn1 {
        display: block;
        width: 250;
        margin: auto;
        ! margin-bottom: 5;
        text-align: left;
    }

    .caption {
        position: relative;
        left: 40;
        top: -23;
        font-size: 16;
        color: #0F0A0A;
    }

    .caption2 {
        position: relative;
        left: 40;
        top: -23;
        font-size: 16;
        color: #0F0A0A;
    }

    .contact_title {
        font-size: 22;
        margin-bottom: 5;
    }
	
	

    .contact img {
        width: 30;
    }

    .contact {
        width: 250;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10;
        margin-top: 5;
    }

    .caption_contact {
        position: relative;
        left: 40;
        top: -25;
        font-size: 16;
        color: #0F0A0A;
        font-weight: bold;
    }
}

@media (min-width: 600px) and (max-width: 800px) {

    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        position: initial;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
    }

	.content {
	width: 100%;
	}
	
	.picture {
		display: none;
	}
	
	.picture_600 img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
	
	.picture_600:hover{
	cursor: pointer;
	}

    .text {
        margin-top: 40;
        margin-bottom: 30;
        width: 75%;
        margin-left: auto;
        margin-right: auto;

    }

    .text p {
        font-size: 20;
    }

    .content_title b {
        font-size: 32;
        margin-left: 60;
        text-align: center;
    }
.sbtn1 {
    width: 400;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

    .sbtn {
        width: 400;
        margin-left: auto;
        margin-right: auto;
    }
}

