
.logo img {
    height: 120;
}

.logo {
    text-align: left;
    margin-left: 40;
    margin-bottom: 15;
}


.section {
    font-size: 30;
    margin-bottom: 40;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/* ----- CRIME BELOW ----- */
.crime {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #f9f9f9;
    text-align: justify;

}

.crime img {
    width: 100%;
    margin-bottom: 25;
}

.crime img:hover {
    cursor: pointer;
}

.last_pic img {
    margin-bottom: -25;
}

.crime p {
    color: #0F0A0A;
    font-size: 20;
    position: relative;
    top: 50;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* ----- VACATIONS BELOW ----- */
.vacations img {
    margin-bottom: 70;
    width: 100%;

}

.vacations img:hover {
    cursor: pointer;
}

.vacations {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.vacations p {
    text-align: justify;
    font-size: 20;
    margin-bottom: 40;


}

/* ----- TIME OFF BELOW ----- */
.time_off {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: left;
}

.time_off img {
    margin-bottom: 70;
    width: 100%;

}

.time_off img:hover {
    cursor: pointer;
}

/*---LIGHTBOX---*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    margin: auto;
    max-width: 70%;
    top: -6%;
    margin-bottom: 60;

}

.modal-content p {
    color: black;
    font-size: 24;
    margin-left: 30;
    margin-bottom: 0;
    text-align: left;
}

.close {
    color: #fbf7f5;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides p {
    margin-bottom: 15;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fbf7f5;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: -45;
}

.prev {
    left: -45;
}

.prev:hover,
.next:hover {
    background-color: rgba(70, 67, 67, 0.158);
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------*/

@media (max-width: 600px) {
    .modal-content {
        position: relative;
        margin: auto;
        max-width: 100%;
        margin-top: 70;
    }

    footer {
        font-size: 10;
    }

    .section {
        font-size: 25;
        margin-bottom: 20;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .logo {
        text-align: left;
        margin-left: 15;
        margin-bottom: 15;
    }

    .logo img {
        height: 70;
    }

    #navbar {
        justify-content: space-around;
        position: initial;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
        font-size: 16;
        padding: 15px 25px;

    }

    .prev, .next {
        top: 125%;
        font-size: 20px;
    }

    .next {
        right: 10%;

    }

    .prev {
        left: 10%;
    }

    /* ----- CRIME BELOW ----- */
    .crime {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .crime p {
        margin-bottom: 3%;
        top: 30;
        font-size: 14;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .crime img {
        width: 100%;
        margin-top: 10;
    }

    /* ----- VACATIONS BELOW ----- */
    .vacations {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .vacations p {
        margin-bottom: 3%;
        top: 30;
        font-size: 14;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .vacations img {
        width: 100%;
        margin-top: 10;
    }

    /* ----- TIME OFF BELOW ----- */
    .time_off {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .time_off p {
        margin-bottom: 3%;
        top: 30;
        font-size: 14;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .time_off img {
        width: 100%;
        margin-top: 10;
    }


}


@media (min-width: 600px) and (max-width: 800px) {

    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        position: initial;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
    }

    .crime p {
        margin-bottom: 45;
        margin-left: 2%;
        margin-right: 2%;
        top: 30;
    }

    .crime {
        width: 90%;
    }

    .vacations {
        width: 90%;
    }

    .time_off {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-content {
        position: relative;
        margin: auto;
        max-width: 100%;
        margin-top: 70;
    }

    .prev, .next {
        top: 120%;
        font-size: 20px;
    }

    .next {
        right: 10%;

    }

    .prev {
        left: 10%;
    }

    .slider {
        display: none;
    }

    .slider600 {
        display: none;
    }

    .slider800 {
        display: block;
    }

    .slider800 {
        overflow: hidden;
    }

    .slider800 figure img {
        width: 20%;
        float: left;
    }

    .slider800 figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }

}