.box {
    width: 30%;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 20px;
    display: inline-block;
    margin: 0.5%;
    color: black;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.box:hover {
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: 0 30px 30px 0px rgba(0, 0, 0, 0.5);
}

.box img {
    width: 100%;
}

.box p {
    margin-bottom: 15;
    margin-left: 15;
}

.grid {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*---LIGHTBOX---*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fbf7f5;
    margin: auto;
    padding: 10;
    /*width: 900;
    max-width: 1100px;*/
    max-width: 45%;
    margin-bottom: 90;
    top: -50;

}

.modal-content p {
    color: black;
    font-size: 21;
    margin-left: 30;
    margin-bottom: 0;
    text-align: left;
}

.close {
    color: #fbf7f5;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides p {
    margin-bottom: 15;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
    .section {
        font-size: 25;
        margin-bottom: 20;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }


    .grid {
        width: 100%;
        display: block;
    }

    .box {
        width: 75%;
        margin: 2%;
        font-size: 16;
    }

    .modal-content {
        position: relative;
        background-color: #fbf7f5;
        margin: auto;
        padding: 5;
        max-width: 95%;
        margin-bottom: 90;
        top: -50;
    }

    .modal-content p {
        color: black;
        font-size: 14;
        margin-left: 15;
        margin-bottom: 5;
        text-align: left;
    }
}


@media (min-width: 600px) and (max-width: 815px) {

    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        position: initial;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
    }

    .slider {
        display: none;
    }

    .slider800 {
        display: block;
    }

    .slider800 {
      overflow: hidden;
    }

    .slider600 {
        display: none;
    }


    .slider800 figure img {
        width: 20%;
        float: left;
    }

    .slider800 figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }


    .section {
        font-size: 27;
    }

    .grid {
        width: 100%;
    }

    .box {
        width: 42%;
        margin: 1%;

    }

    .box p {
        font-size: 17;
    }

    .modal-content {
        position: relative;
        background-color: #fbf7f5;
        margin: auto;
        padding: 5;
        max-width: 80%;
        margin-bottom: 90;
        top: -40;
    }

    .modal-content p {
        color: black;
        font-size: 16;
        margin-left: 15;
        margin-bottom: 5;
        text-align: left;
    }

}

@media (min-width: 810px) and (max-width: 1050px) {
    .box {
        font-size: 17;
        ! margin: 2%;
    }

    .grid {
        width: 100%;
    }

    .modal-content {
        position: relative;
        background-color: #fbf7f5;
        margin: auto;
        padding: 10;
        max-width: 80%;
        margin-bottom: 90;
        top: -40;

    }

    .modal-content p {
        color: black;
        font-size: 18;
        margin-left: 15;
        margin-bottom: 5;
        text-align: left;
    }
}
