#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 1;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.field {
    background-color: #333;
    float: left;
    display: none;
    text-align: center;
    text-decoration: none;
    padding: 18px 25px;
    font-size: 20;
    color: #f9f9f9;
    font-weight: bold;
}

#navbar a:hover {
    background-color: #111;
}

.content_600 {
    display: none;
}

.content_800 {
    display: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #f9f9f9;
    font: helvetica;
}

.content {
    text-align: center;
}

.box {
    width: 1200;
    height: 277;
    margin: 20;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}


.box img {
    width: 100%;
}

.box p {
    position: relative;
    top: -110;
    font-size: 32;
    left: 50;
    color: white;
}

.box:hover {
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transform: scale(1.07);
    transform: scale(1.07);
    -o-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    box-shadow: 0 30px 30px 0px rgba(0, 0, 0, 0.5);
}

main {
    margin-bottom: 120;
    margin-top: 60;
}

@media (min-width: 400px) and (max-width: 600px) {
    .box_600 {

        margin-bottom: -50;

    }
}


@media (max-width: 600px) {

    .box_600 {
        text-align: left;
        font-size: 18;
        margin-bottom: -50;
    }

    #navbar {
        justify-content: space-around;
        position: initial;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
        font-size: 16;
        padding: 15px 25px;
    }

    .logo {
        text-align: left;
        margin-left: 15;
        margin-bottom: 15;
    }

    .logo img {
        height: 70;
    }

    footer {
        font-size: 10;
    }

    #navbar a:hover {
        background-color: #111;
    }

    .content {
        display: none;
    }

    .content_600 {
        display: block;
    }

    .content_800 {
        display: none;
    }

    .box_600 img {
        width: 100%;
    }

    .box_600 p {
        position: relative;
        font-weight: bold;
        top: -60;
        left: 5%;
        width: 80%;

    }

    .section {
        font-size: 25;
        margin-bottom: 20;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}

@media (max-width: 400px) {

    .box_600 p {
        position: relative;
        font-size: 14;
        top: -45;
        left: 4%;
        width: 80%;

    }

    .box_600 {
        margin-bottom: -30;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        position: initial;

    }

    #navbar a {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F0A0A;
    }

    .content {
        display: none;
    }

    .content_600 {
        display: none;
    }

    .content_800 {
        display: block;
    }

    .box_800 img {
        width: 100%;
    }

    .box_800 {
        text-align: left;
        font-size: 25;
        margin-bottom: -60;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .box_800 p {
        position: relative;
        top: -75;
        left: 25;
        font-weight: bold;
        width: 50%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .box {
        width: 90%;
        margin-top: -10;
        margin-bottom: -10;
    }
}
@media (min-width: 800px) and (max-width: 950px) {
    .box {
        width: 90%;
        margin-top: -30;
        margin-bottom: -60;
    }
    .box p {
        top: -85;
        left: 30;
    }


}
@media (min-width: 950px) and (max-width: 1100px) {
    .box {
        width: 90%;
        margin-top: -30;
        margin-bottom: -30;
    }
}

